page-convert {
  .speechContainer {
    padding: 10px;
    min-height: 100px;
    background: rgba(0, 0, 0, 0.8);
  }

  .convert-btn {
    text-transform: capitalize !important;
    width: 160px;
    border-radius: 50px;
    background-color: #003366;
  }
  h1{
    margin-bottom: 20px;
    color:yellow;
  }
}
