page-help {

h1{
  color:yellow;
  text-align: center;
}
.custom-bg {
  padding: 10px;
  // min-height: 100px;
  background: rgba(0, 0, 0, 0.8) !important;
}
.custom-button {
  // padding: 5px 10px;
  text-transform: capitalize !important;
  width: 160px;
  border-radius: 50px;
  background-color: #003366;
  margin-bottom: 20px;
}

}
